body {
    margin: 30px 25px 40px 25px;
}

.canvas {
    border-width: 1px;
    border-color: #777;
    border-style: solid;
    height: 250px;
    width: 250px;
}

.mat {
    margin: 20px;
}

.mc {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-left: 5px;
    background-color: #000;
}
